# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# C extensions
*.so

# Virtual environment
venv/
env/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Flask and FastAPI
instance/
.webassets-cache

# Static files
staticfiles/
app/static/

# Templates cache
app/templates/__pycache__/

# Environment variables
.env

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
*.swn
*.bak
*.tmp

# System files
.DS_Store
Thumbs.db