<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Настрой ChatGPT под себя</title>
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>

        <header>
            <h1>Настрой ChatGPT под себя</h1>
            <p>Выбирай, копируй и пробуй готовые промпты</p>
        </header>

        <main>
            <section id="prompts">
                <h2>Готовые промпты</h2>
                {% for prompt in prompts %}
                    <div class="prompt-card">
                        <h3>{{ prompt.act }}</h3>
                        <pre>{{ prompt.prompt }}</pre>
                        <button onclick="copyToClipboard('{{ prompt.prompt | escape }}')">Копировать</button>
                    </div>
                {% endfor %}
        </main>

        <script>
            function copyToClipboard(text) {
                navigator.clipboard.writeText(text).then(() => {
                    alert('Промпт скопирован в буфер обмена!');
                }, function(err) {
                    console.error('Ошибка при копировании текста: ', err);
                });
            }
        </script>
    </body>
</html>